/*
Fond = #2e5849
Fond Input = #1c382f
Bordure Input = #183129
Ombre interne Input = 25px rgba(0,0,0,.1)
Ombre interne Input Focus = 25px rgba(0,0,0,.5)
Texte Input = #fff
Placeholder Input = rgba(255, 255, 255, .5)
*/
body {
    background-color: #2e5849 ;
}

#todo {
    margin: 2em auto;
    width: 70%;
}

#todo-input {
    background: #1c382f;
    border: #183129;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, .1);
    color: #fff;
    height: 3em;
    padding: .6em 1.2em;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    transition: box-shadow .3s;
}
#todo-input:focus {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
}
#todo-input::placeholder {
    color: rgba(255, 255, 255, .5);
}

#todo-counter {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin: 2em 0 1em;
    padding-bottom: .4em;
}

/*
Fond Tâche = #eee
Bordure tâche = #ccc
*/
.task {
    background: #eee;
    border: #ccc;
    font-size: 1.2em;
    padding: 1em .7em;
    margin: .3em 0;
}

.task--done {
    opacity: .5;
    text-decoration: line-through;
}